/node_modules
/public/build
/public/hot
/public/storage
/public/fonts-manifest.dev.json
/storage/*.key
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/storage/pail
/vendor

.env
.env.backup
.env.production
.env.local
.env.*.local
auth.json

.phpunit.result.cache
/.phpunit.cache
/.codex
/.cursor/
/.fleet
/.idea
/.nova
/.vscode
/.zed
.phpactor.json
_ide_helper.php
Homestead.json
Homestead.yaml

*.log
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db

# SQLite
*.sqlite
*.sqlite-journal
